# السيرفر الاصلي
EXPO_PUBLIC_API_URL=https://app.faramace.com/api

# للاختبار في السيرفر المحلي (استخدم IP جهازك على الشبكة وليس localhost)
# EXPO_PUBLIC_API_URL=http://192.168.0.172:3000/api

# EXPO_NO_DOCTOR=1
